<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-4" >
      <div class="col-lg-6 stream1">
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
          <div id="<player div ID>"></div>
          <script type="text/javascript">
            var options = {
              width: '650rem',
              height: '500rem',
              channel: "loltyler1",
              video: "<video ID>",
              collection: "<collection ID>",
              // only needed if your site is also embedded on embed.example.com and othersite.example.com
              parent: ["embed.example.com", "othersite.example.com"]
            };
            var player = new Twitch.Player("<player div ID>", options);
            player.setVolume(0.5);
        </script>
</div>

      <div class="col-lg-6 stream2">
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
          <div id="<player2 div ID>"></div>
            <script type="text/javascript">
              var options = {
                width: '650rem',
                height: '500rem',
                channel: "lcs",
                video: "<video ID>",
                collection: "<collection ID>",
                // only needed if your site is also embedded on embed.example.com and othersite.example.com
                parent: ["embed.example.com", "othersite.example.com"]
              };
              var player = new Twitch.Player("<player2 div ID>", options);
              player.setVolume(0.5);
            </script>
</div>
</div>
<h3>Chat box</h3>
<div class="box">
  <ul id="scrollbar">
    <% for(var i=0; i<comments.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
        <%=user.userName%>:<%= comments[i].comment%>
        </a>
      </li>
    <% } %>
   

  </ul>
</div>
<h3>Chat now</h3>
<form action="/comment/createComment" method="POST">
  <label for="comment" class="form-label">Comment</label>
  <input type="text" class="form-control" id="comment" name="comment">
  <button type="submit">Send message</button>
</form>


</div>
 
    
 <script src="../js/scrollbar.js"></script>   
 


<%- include('partials/footer') -%>