img{
    height: 500px;
}
.hero{
    display:flex;
    justify-content: space-around;
}
.titleHero{
    font-size: large;
    font-family: 'PT Serif', serif;
    
}
.titleText{
    font-size: 3rem;
}
.regularText{
    color:white;
    text-decoration: none;
    /* font-size: 4rem; */
    font-size: 4rem;
    font-weight:bold;
    font-family: 'Gloria Hallelujah', cursive;
}
body{
    background-color: gray(150, 166, 236, 0.596);
    height: 100vh;
}

.links{
    color:white ;
    text-decoration: none;
    background-color: black;
}
.background{
    background-color: black;
}
.titleText{
    color:black;
    text-decoration: none;
}
.content{
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
.recipeIMG{
    width:  100px;
    height: 100px;
    text-align: center;
}
.card{
    width: 400px;
    
}
.flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}